.div-add-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0px;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

footer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
